 <div id="sidebar-wrapper" class="">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li class="sidebar-brand active"> <a href="#home" class=""><span class="fa fa-home solo">Dasboard</span></a>
                </li>
                <li class=""> <a href="#anch1" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Artikel</span>
                        </a>

                </li>
                <li class=""> <a href="#anch2" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Jadwal</span>
                        </a>

                </li>
                <li class=""> <a href="#anch3" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Galeri</span>
                        </a>

                </li>
                <li class=""> <a href="#anch4" data-scroll="" class="">
                            <span class="fa fa-anchor solo">Manajemen Pengguna</span>
                        </a>

                </li>
            </ul>
        </nav>
    </div>