<h2 class="text-center"><%= @album.title %></h2>
<%= link_to 'tambah foto', new_album_photo_path(@album), class: 'btn btn-default'%>
<% @photos.each do |photo| %>
  <div class='col-md-4'>
    <%= image_tag(photo.image_url(:thumb), class: "img-responsive center-block") %>
  </div>
<% end %>
