<section class="article">
    <div class="container">

        <div class="">
            <h2>Lorem <b>Ipsum</b></h2>
            <div class="row-page row">
                <div class="col-page col-sm-8 col-md-6">
                    <a href="" class="black bg-article">
                        <div class="img-lg-article">
                            <img class="" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
                        </div>
                        <div class="content-lg-article">
                            <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                        </div>
                        <div class="overlay-article">
                            <span>Lorem </span>
                        </div>
                    </a>
                </div>
                <div class="col-page col-sm-4 col-md-3">
                    <a href="" class="bg-article">
                        <div class="img-article">
                            <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
                        </div>
                        <div class="content-article">
                            <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                        </div>
                        <div class="overlay-article">
                            <span>Lorem </span>
                        </div>
                    </a>
                </div>
                <div class="col-page col-sm-4 col-md-3">
                    <a href="" class="bg-article">
                        <div class="img-article">
                            <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
                        </div>
                        <div class="content-article">
                            <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                        </div>
                        <div class="overlay-article">
                            <span>Lorem </span>
                        </div>
                    </a>
                </div>
                <div class="col-page col-sm-4 col-md-3">
                    <a href="" class="bg-article">
                        <div class="img-article">
                            <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
                        </div>
                        <div class="content-article">
                            <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                        </div>
                        <div class="overlay-article">
                            <span>Lorem </span>
                        </div>
                    </a>
                </div>
                <div class="hidden-sm col-page col-sm-4 col-md-3">
                    <a href="" class="bg-article">
                        <div class="img-article">
                            <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
                        </div>
                        <div class="content-article">
                            <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                        </div>
                        <div class="overlay-article">
                            <span>Lorem </span>
                        </div>
                    </a>
                </div>
                <div class="hidden-sm col-page col-sm-4 col-md-3">
                    <a href="" class="bg-article">
                        <div class="img-article">
                            <img class="img-responsive" src="https://placeholdit.imgix.net/~text?txtsize=34&txt=&w=500&h=300">
                        </div>
                        <div class="content-article">
                            <h3>Neque porro quisquam est qui dolorem ipsum</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed placerat porta ex, sed ullamcorper ipsum lacinia nec.<span>...</span></p>
                        </div>
                        <div class="overlay-article">
                            <span>Lorem </span>
                        </div>
                    </a>
                </div>
                <div class="col-page col-sm-4 col-md-3">
                    <a href="#" class="todas-las-publicaciones-home">
                        <span>Neque porro quisquam est qui dolorem ipsum</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
