<footer class="footer footer-6 bg-dark">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4 col-xs-6">
                    <h6>SMTI 07</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh quam, porttitor vitae molestie et, tincidunt eget ipsum. Pellentesque eu tincidunt nulla. Aenean finibus nunc vel vulputate sagittis.</p>
                </div>

                <div class="col-md-2 col-sm-3 col-xs-6">
                    <h6>MENU</h6>
                    <ul class="menu">
                        <li>
                            <a href="#">Tentang</a>
                        </li>
                        <li>
                            <a href="#">Artikel</a>
                        </li>
                        <li>
                            <a href="#">Galeri</a>
                        </li>
                        <li>
                            <a href="#">Jadwal</a>
                        </li>

                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <h6>KONTAK KAMI</h6>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus nibh quam, porttitor vitae molestie et, tincidunt eget ipsum.</p>
                </div>

            </div>

            <div class="row">
                <div class="col-xs-12">
                    <p class="sub">
                        © Copyright SMTI07 - All Rights Reserved
                    </p>
                </div>
            </div>
        </div>
    </footer>
